extends layout

block content
  p(id=boiled) #{boiledNum}
  p(id=baked) #{bakedNum}
  p(id=mashed) #{mashedNum}
  p(id=fried) #{friedNum}
  p(id=sweet) #{sweetNum}
  p(id=russet) #{russetNum}
  p(id=white) #{whiteNum}
  p(id=red) #{redNum}
  p(id=sweet) #{sweetNum}
  p(id=russet) #{russetNum}
  p(id=white) #{whiteNum}
  p(id=red) #{redNum}
  p(id=fries) #{friesNum}
  p(id=tots) #{totsNum}
  p(id=wedges) #{wedgeNum}
  p(id=red) #{redNum}
  
  p Username: #{user.userName}
  p Age: #{user.age}
  p Email: #{user.email}
  p Answer 1: #{user.userAnswer1}
  p Answer 2: #{user.userAnswer2}
  p Answer 3: #{user.userAnswer3}
  br
  canvas(id="myCanvas")
  script(src="/barGraph.js")
  br
  canvas(id="canvastwo")
  script(src="/barGraphTwo.js")
  br
  canvas(id="canvasthree")
  script(src="/barGraphThree.js")
  #menu
    a(href='/') Go back