extends layout

block content
  //p(id=boiled) #{boiledNum}
  p Username: #{user.userName}
  p Age: #{user.age}
  p Email: #{user.email}
  p Answer 1: #{user.userAnswer1}
  p Answer 2: #{user.userAnswer2}
  p Answer 3: #{user.userAnswer3}
  br
  canvas(id="myCanvas")
  script(src="/barGraph.js")
  br
  canvas(id="canvastwo")
  script(src="/barGraphTwo.js")
  br
  canvas(id="canvasthree")
  script(src="/barGraphThree.js")
  #menu
    a(href='/') Go back